{
    email ${ACME_EMAIL:-you@yours.com}
}

${HTTP_HOST:-http://thermostat.local} {
    reverse_proxy /api/* http://${BACKEND_ALIAS:-backend}:5000

    root * /srv/frontend/
    @try_files {
        method GET
        not file {
            try_files {path}
        }
        not path /api/*
    }
    rewrite @try_files index.html
    file_server

    log {
        output stdout
        format console
        level INFO
    }

    encode gzip
}
