[Unit]
Description=Restart pigpiod deamon service
ConditionACPower=true

[Service]
User=root
Type=oneshot
ExecStartPre=-systemctl restart pigpiod
ExecStart=systemctl status pigpiod
